@{
    ViewData["Title"] = "Cadastro";
}

<div class="text-center">
    <h1 class="display-2">Cadastro</h1>
    <p class="lead">Criando meu primeiro controller e action</p>
    <p>Parágrafo normal</p>
</div>